<ul>
  <% @users.each do |user| %>
    <li class="user-item">
      <%= link_to user_path(user) do %>
        <div class="profile-photo-container">
          <%= image_tag(user.photo.present? ? user.photo : 'https://source.unsplash.com/featured/300x203', alt: user.name, class: "profile-photo") %>
        </div>
        <div class="user-details-container">
          <h2 class="user-name"><%= user.name %></h2>
          <h4 class="user-posts">Number of posts: <%= user.post_counter %></h4>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
