*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

input,
button {
  background-color: transparent;
  padding: 1rem 3rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}

textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 2rem auto;
}

.nav-bar {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.nav-list {
  display: flex;
}

.nav-list li {
  margin-right: 2rem;
}

.user-item {
  margin-bottom: 2rem;
}

.user-item a {
  display: flex;
  font-size: 1.6rem;
  color: black;
  gap: 2rem;
}

.profile-photo-container {
  display: flex;
  justify-content: center;
}

.profile-photo {
  width: 15rem;
  height: 10rem;
  background-color: bisque;
  border: 1px solid black;
}

.user-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid rgb(122, 122, 122);
}

.user-name {
  font-size: 2.8rem;
}

.user-posts {
  font-size: 1.7rem;
  margin-left: auto;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.back-link {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.2rem 4rem;
  width: 20%;
}

.user-info-container a {
  display: flex;
  justify-content: center;
}

.bio-container {
  border: 2px solid black;
  padding: 1rem;
}

.simple-post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.simple-post {
  border: 2px solid black;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.comments-likes {
  margin-left: auto;
  padding: 1rem;
}

.comments-likes span {
  padding: 1rem;
}

.see-all-post-btn {
  padding: 1.2rem 2rem;
  background-color: transparent;
  cursor: pointer;
}

.five-recent-comments-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 0.2rem;
  padding: 3rem;
  border: 2px solid black;
}

.details-post {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 2px solid black;
  margin-bottom: 0.2rem;
}

.like-box {
  margin-bottom: 2rem;
}

.like-box form {
  padding: 1rem;
  display: flex;
  align-items: end;
  justify-content: end;
}

.details-post-container {
  padding: 1rem;
}

.details-post-comments-counter {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.details-comments {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.like-box form input,
.create-post-btn,
.comment-btn {
  background-color: rgb(81, 134, 0);
  padding: 1rem 2rem;
  border: none;
  color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.actions input {
  background-color: rgb(72, 120, 0);
  color: white;
  cursor: pointer;
}
